header div {
	text-align: center;
	padding: 20px 0;
}

nav {
	text-align: center;
	background: #eee;
	padding: 20px 0;
}

ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	padding: 0 10px 0 10px;
}

.feature {
	text-align: center;
	background: #eee;
	padding: 20px 0;
	margin-top: 20px;
	margin-bottom:  20px;
}

.col {
	float: left;
	width:  32.2%;
	text-align: center;
	background: #eee;
	margin: 0 10px;
	padding: 20px 0;
	margin-bottom: 20px;
}

.col-left {
	margin-left:  0;
}

.col-right {
	margin-right: 0;
}

footer {
	clear:  both;
	text-align: center;
	background: #eee;
	padding: 20px 0;
}
